* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: #e3e3e3;
  min-height: 100vh;
  overflow: hidden;
}

.main-container {
  height: 100%;
  width: 100%;
}

.main-container .circle-1,
.main-container .circle-2 {
  width: 330px;
  height: 280px;
  border-radius: 50%;
}

.main-container .circle-1 {
  position: absolute;
  background: #ff0000dc;
  top: -160px;
  left: -20px;
  box-shadow: 1px 1px 25px #444;
}

.main-container .circle-2 {
  z-index: -1;
  position: absolute;
  background: #a201f8b7;
  top: -90px;
  left: -110px;
  box-shadow: 1px 1px 25px #444;
}

.main-container .circle-3 {
  position: absolute;
  width: 400px;
  height: 380px;
  background: #ff0000dc;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -470px;
}

.row {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
}

.img-col {
  background: transparent;
  display: grid;
  place-content: center;
}

img {
  display: none;
}

.register-col {
  position: relative;
  background: hsla(0, 0%, 100%, 0.4);
  padding: 10rem 3rem;
}

.register-col h2 {
  color: #a201f8b7;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

form {
  width: 100%;
  height: 100%;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #a201f8b7;
  margin-bottom: 50px;
}

.input-box label {
  color: #a201f8b7;
  font-weight: 900;
  font-size: 10px;
}

.input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -15px;
  background: transparent;
  outline: none;
  border: none;
  color: #a201f8b7;
  font-size: 15px;
}

.input-box input::placeholder {
  font-weight: 600;
  opacity: 50%;
}

em {
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  left: -9;
  top: 18rem;
}

.error-2 {
  top: 24.8rem;
}

.error-3 {
  top: 31.8rem;
}

.btn-box {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #a201f8b7;
  padding: 5px 20px;
  font-size: 15px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
}

.or {
  text-align: center;
}

.media-icons {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.media-icons span {
  margin: 10px;
}

.login-link {
  color: #a201f8b7;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

a {
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
}

.validation {
  position: absolute;
  top: -99999px;
  left: 0;
  background: hsla(0, 31%, 94%, 0.8);
  height: 100%;
  width: 100%;
  padding: 9rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;
}

.show-validation {
  top: 0;
  transition: 0.5s ease;
}

.closeslide {
  position: absolute;
  transition-delay: 0.5s;
  top: -99999;
}

.check {
  background: #34d469;
  height: 25px;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.successful {
  color: #34d469;
  font-weight: 600;
}

@media screen and (min-width: 575px) {
  img {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .main-container .circle-1,
  .main-container .circle-2 {
    width: 530px;
    height: 480px;
  }

  .main-container .circle-1 {
    top: -260px;
    left: -30px;
  }

  .main-container .circle-2 {
    top: -180px;
    left: -130px;
  }

  .main-container .circle-3 {
    position: absolute;
    width: 670px;
    height: 580px;
    left: 50%;
    bottom: -730px;
  }

  img {
    display: inline;
    width: 200px;
    height: 100px;
  }

  h2 {
    font-size: 40px;
  }

  .register-col {
    padding: 9rem;
  }

  .input-box label {
    font-size: 12px;
  }

  button {
    font-size: 20px;
  }

  span {
    font-size: 22px;
  }

  .login-link {
    font-size: 16px;
  }

  a {
    font-size: 22px;
  }
}
